<!DOCTYPE html>
<html>
<head>
	<title>Task3</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="wraper">
		<header>
			<div class="float">
				<img id="comp" src="trasp.png" alt="comp">
			</div>
			<nav>
				<label>members login:</label>
				<input type="text" value="   Your name">
				<input type="text" value="   Email Id">
			</nav>
			<div>
				<img id="go" src="go.png" alt="go">
			</div>
		</header>
		<section>
			<h1>about total management</h1>
			<p class="paragr1">Total management is a free, tableless, WC3-compliant web design layout by Template World. This template has been tested and proven compatible with all major browser enviroments and operating systems. You are free to modify the design to suit your tastes in any way you like.
			</p>
			<p class="paragr2">We only ask you not to remove <span>"Design by Template World"</span> and the link http://www.templateworld.com from the footer of the template. If you are interested in seeing more of our free web template designs feel free to visit our website, Template World. We intend to add at least 25 new free templates in the coming month.</p>
		</section>
	</div>
</body>
</html>