<!DOCTYPE html>
<html>
<head>
	<title>Task3</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="wraper">
		<header>
			<nav>
				<a href="#">Apple</a>
				<a href="#">Toshiba</a>
				<a href="#">Lenovo</a>
				<a href="#">Dell</a>
				<a href="#">Asus</a>
				<a href="#">Hacer</a>
				<a href="#">Hp</a>
			</nav>
			<hr/>
		</header>
		<section id="left">
			<fieldset class="float-left">
				<legend>Apple MacBook Air</legend>
				<img src="laptop.png" alt="laptop">
				<p class="par1">64 GB SSD</p>
				<p class="par2">2GB DDR</p>
				<div class="clear"></div>
				<p class="par3">1300 USD</p>
				<p class="par4">Intel Core i5</p>
			</fieldset>
			<fieldset>
				<legend>Apple MacBook Air</legend>
				<img src="laptop.png" alt="laptop">
				<p class="par1">64 GB SSD</p>
				<p class="par2">2GB DDR</p>
				<div class="clear"></div>
				<p class="par3">1300 USD</p>
				<p class="par4">Intel Core i5</p>
			</fieldset>
			<div class="clear"></div>
			<fieldset class="float-left">
				<legend>Apple MacBook Air</legend>
				<img src="laptop.png" alt="laptop">
				<p class="par1">64 GB SSD</p>
				<p class="par2">2GB DDR</p>
				<div class="clear"></div>
				<p class="par3">1300 USD</p>
				<p class="par4">Intel Core i5</p>
			</fieldset>
			<fieldset>
				<legend>Apple MacBook Air</legend>
				<img src="laptop.png" alt="laptop">
				<p class="par1">64 GB SSD</p>
				<p class="par2">2GB DDR</p>
				<div class="clear"></div>
				<p class="par3">1300 USD</p>
				<p class="par4">Intel Core i5</p>
			</fieldset>
			<div class="clear"></div>
			<fieldset class="float-left">
				<legend>Apple MacBook Air</legend>
				<img src="laptop.png" alt="laptop">
				<p class="par1">64 GB SSD</p>
				<p class="par2">2GB DDR</p>
				<div class="clear"></div>
				<p class="par3">1300 USD</p>
				<p class="par4">Intel Core i5</p>
			</fieldset>
			<fieldset class=>
				<legend>Apple MacBook Air</legend>
				<img src="laptop.png" alt="laptop">
				<p class="par1">64 GB SSD</p>
				<p class="par2">2GB DDR</p>
				<div class="clear"></div>
				<p class="par3">1300 USD</p>
				<p class="par4">Intel Core i5</p>
			</fieldset>
			<div class="clear"></div>
		</section>
		<section id="right">
			<form>
				<span class="range-label">Min Price:	500USD</span><br/>
				<input type="range" class="range"><br/>
				<span class="range-label">Max Price:	1500USD</span><br/>
				<input type="range" class="range"><br/>
				<span class="range-label">Min RAM:	4GB</span><br/>
				<input type="range" class="range"><br/>
				<span class="range-label">Max RAM:	8GB</span><br/>
				<input type="range" class="range"><br/>
			</form>
		</section>
	</div>
</body>
</html>