<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Task2</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
 	<section id="main">
 		<p class="header">Music Categories:</p>
 		<article>
 			<img src="pic1.png" alt="pic1">
 			<p>Even more websites all about website templates on <span>Just Web Templates.</span></p>
 			<button class="margin-right">Add</button>
 			<button>Listen</button>
 		</article>
 		<article>
 			<img src="pic2.png" alt="pic2">
 			<p>If you're looking for beautifully and professionally made templates you can find them at <span>Template Beauty.</span></p>
 			<button class="margin-right">Add</button>
 			<button>Listen</button>
 		</article>
 		<article class="wider">
 			<img src="pic3.png" alt="pic3">
 			<p class="less">You can remove any link to our websites from this template you're free to use this template without linking back to us.</p>
 			<button class="margin-right">Add</button>
 			<button>Listen</button>
 		</article>
 	</section>
</body>
</html>
