<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Task1</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<section id="wraper">
		<header id="header">
 		<ul>
 			<li class="active-nav"><a href="#"></a>Новините</li>
 			<li class="underline"><a href="#"></a>Спорт</li>
 			<li><a href="#"></a>Емисии</li>
 			<li><a href="#"></a>Любопитно</li>
 			<li><a href="#"></a>Аз, репортерът</li>
 			<li><a href="#"></a>Тази сутрин</li>
 		</ul>
 		</header>
 		<div class="clear"></div>
 		<article id="main-left">
 			<p class="news active-news">Интернет новини - 13.07.2010 г.</p>
	 		<p class="news">Проливни дъждове в Дания Китай и Индия, необичайно горещини в Иран</p>
	 		<p class="news">Над двеста хектара горят на територията на бивш военен полигон в Германия</p>
	 		<p class="news">23-ма ранени при сблъсък на два пътнически влака в Полша</p>
	 		<p class="news">Диференцират от догодина минималния осигурителен доход за самоосигураяващите се</p>
	 	</article>
	 	<article id="main-right">
	 		<iframe width="420" height="315" src="https://www.youtube.com/embed/l0oSQ3BNOYY" frameborder="0" allowfullscreen></iframe>
	 	</article>
		</section>
 	
</body>
</html>
